{% extends 'layout.html'  %}

{% block title %}Contact{% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'temperature/style/contact_form.css' %}">
<script>
	function update() {
		var limit = 1000;
		var count = document.getElementById('message').value.length;
		document.getElementById('current_char').innerHTML= count + "/1000";
		if(count > limit) {
			alert('Too much data in the text box!');
		}
	 }

</script>
<style type="text/css">
	#current_char
	{
		font-size: .9em;
		font-family:"Courier New", Courier, monospace;
		display: inline;
	}
</style>
{% endblock %}

{% block main_content %}
<p>{{ error_message }}</p>
<form action="{% url 'contact' %}" method="post">{% csrf_token %}
	<fieldset name="messageForm" id="messageForm">
		<label>
		First Name
		<input type="text" placeholder="Supply your first name" name="first_name" id="first_name" required="required" />
		</label>
		<label>
		Last Name
		<input type="text" placeholder="Supply your last name" name="last_name" id="last_name" required="required" />
		</label>

		<label>
		E-mail
		<input type="email" placeholder="Supply a valid e-mail address" name="email" id="email" required="required" />
		</label>

		<label>
		Subject
		<input type="text" placeholder="Supply a subject" name="subject" id="subject" required="required" />
		</label>

		<label>
		Message <br />(<p id="current_char">0/1000</p>)
		<textarea name="message" id="message" maxlength="1000" onkeyup="update();"></textarea>
		</label>

		<input type="submit" name="submit" id="submit" value="Submit Message" />

	</fieldset>
</form>
{% endblock %}
