{% extends 'layout.html'  %}

{% block title %}Nathan Ahrens{% endblock %}

{% block main_content %}
<div id="resume">
    <div class="text-center">
        <h1>Nathan Ahrens</h1>
        <h4>Address witheld for personal privacy | Phone number witheld | Email witheld</h4>
    </div>
    <h2>Summary</h2>
    <p>Motivated college senior who is excited to further enhance skills in a professional environment. Expertise
        includes problem solving, critical thinking, and dedication. Known by employers and acquaintances as hard and
        resourceful worker. Experienced with maintaining professional client/technician relationship.</p>
    <h2>Education</h2>
    <div class="pull-left"><p><strong>Ashland University</strong>, Ashland, OH</p></div><div class="pull-right"><p class="text-right">Anticipated Graduation: May 2019</p></div><div class="clearfix"></div>
    <p>Major: <strong>Bachelor of Science in Computer Science</strong> Minor: <strong>Information Systems</strong></p>
    <p>GPA 3.9 / 4.0</p>
    <h2>Career Experience</h2>
    <div class="pull-left"><p><strong>Quality Assurance Analyst III</strong>, Ashland University IT</p></div><div class="pull-right"><p class="text-right">August 2018 – Present</p></div><div class="clearfix"></div>
    <ul>
        <li><p>Lead analyst and developer of the Jamf system integration</p></li>
        <li><p>Developed deployment solutions for Mac and Windows using Jamf and KBOX, respectively</p></li>
        <li><p>Managed Mac and Windows operating system deployments, analyzing various requirements</p></li>
        <li><p>Created scripts for Mac and Windows for various deployment needs</p></li>
        <li><p>Managed department interns; responsible for what they did and end results</p></li>
    </ul>
    <div class="pull-left"><p><strong>Software Developer Intern</strong>, J.M. Smucker Co.</p></div><div class="pull-right"><p class="text-right">May 2018 – August 2018</p></div><div class="clearfix"></div>
    <ul>
        <li><p>Learned to work in a very collaborative environment</p></li>
        <li><p>Worked with PL/SQL in Oracle Database environments</p></li>
        <li><p>Created SOA interface for automating a process</p></li>
        <li><p>Re-platformed and upgraded several tier-two brand websites</p></li>
    </ul>
    <div class="pull-left"><p><strong>Tech Support Shift Leader</strong>, Ashland University IT</p></div><div class="pull-right"><p class="text-right">January 2017 – August 2018</p></div><div class="clearfix"></div>
    <ul>
        <li><p>Handled critical issues and time-specific tasks in a timely manner</p></li>
        <li><p>Trained Tech Support Assistants to perform required tasks and to communicate to clients professionally</p></li>
        <li><p>Ensured Tech Support Assistants performed their tasks properly, efficiently, and professionally</p></li>
        <li><p>Trained in advanced troubleshooting skills</p></li>
        <li><p>Learned appropriate leadership skills</p></li>
        <li><p>Worked closely with technicians in order to quickly resolve issues</p></li>
    </ul>
    <div class="pull-left"><p><strong>IT Special Projects Student</strong>, Ashland University IT</p></div><div class="pull-right"><p class="text-right">February 2018 – May 2018</p></div><div class="clearfix"></div>
    <ul>
        <li><p>Worked with a team of students to research and implement an affordable digital signage solution</p></li>
        <li><p>Project solution based on the Raspberry Pi microcomputer, focusing on affordability and flexibility</p></li>
        <li><p>Solution completely replaced the university’s previous digital signage solution</p></li>
        <li><p>Presented project solution to the university’s leadership for approval</p></li>
    </ul>
    <div class="pull-left"><p><strong>Computer Science Undergraduate Research</strong>, Ashland University</p></div><div class="pull-right"><p class="text-right">May 2017 – August 2017</p></div><div class="clearfix"></div>
    <ul>
        <li><p>Implemented the visualization of Binary Search Trees programmatically</p></li>
        <li><p>Used GitHub version control to manage development</p></li>
        <li><p>Used C++ programming language and the Qt framework for GUI support</p></li>
        <li><p>Developed efficient algorithms in order to implement a common-sense structure of a BST</p></li>
        <li><p>Knowledge of the Qt framework was gained primarily through the use of provided API documentation</p></li>
    </ul>
    <div class="pull-left"><p><strong>Audio Visual Intern</strong>, Ashland University IT</p></div><div class="pull-right"><p class="text-right">May 2017 – August 2017</p></div><div class="clearfix"></div>
    <ul>
        <li><p>Evaluated classrooms for technology upgrades</p></li>
        <li><p>Performed various audio/visual equipment upgrades in classrooms and conference rooms</p></li>
        <li><p>Resolved time-critical issues using troubleshooting skills and critical thinking</p></li>
    </ul>
    <div class="pull-left"><p><strong>Tech Support Assistant</strong>, Ashland University IT</p></div><div class="pull-right"><p class="text-right">November 2015 – December 2016</p></div><div class="clearfix"></div>
    <ul>
        <li><p>Solved various technological issues through consistent troubleshooting</p></li>
        <li><p>Increased social skills by talking to clients professionally, yet friendly</p></li>
        <li><p>Performed various performance optimizations and virus cleanups on student computers</p></li>
    </ul>
    <div class="pull-left"><p><strong>Technician and Plumber</strong>, Schalk Mechanical, Ashland, OH</p></div><div class="pull-right"><p class="text-right">March 2015 – August 2016</p></div><div class="clearfix"></div>
    <ul>
        <li><p>Learned to configured software of a Computer Numerical Control (CNC) machine to ensure it would run correctly</p></li>
        <li><p>Organized cables of CNC machine to keep them out of the way</p></li>
        <li><p>Operated CNC machine in a timely manner</p></li>
        <li><p>Precisely calculated duct sizes for HVAC (Heating, Ventilation, and Air Conditioning) jobs</p></li>
        <li><p>Fabricated duct using Torchmate CAD (Computer Aided Design and Drafting) software</p></li>
        <li><p>Installed duct, furnaces, and air conditioners for corporations and home owners</p></li>
    </ul>
    <div class="pull-left"><p><strong>Farmhand</strong>, Pickering Hill Farms, Avon, OH</p></div><div class="pull-right"><p class="text-right">June 2010 - August 2015</p></div><div class="clearfix"></div>
    <ul>
        <li><p>Organize weekly schedules to ensure the highest priority work is completed first</p></li>
        <li><p>Pick produce and organize it to allow sales persons to easily find what they need</p></li>
        <li><p>Direct traffic in a friendly manner so customers know where they should park</p></li>
        <li><p>Acquired customer service skills, helping customers load products and answering questions</p></li>
    </ul>
    <h2>Computer Skills</h2>
    <ul>
        <li><p>CompTIA A+ Certificate</p></li>
        <li><p>Java Programming Language</p></li>
        <li><p>PHP Programming Language</p></li>
        <li><p>C++ Programming Language</p></li>
        <li><p>HTML/CSS Language</p></li>
        <li><p>Python Programming Language</p></li>
        <li><p>Raspberry Pi Home Web Servers</p></li>
        <li><p>General computer knowledge and troubleshooting</p></li>
    </ul>
    
</div>
<p><a class="project" href="https://github.com/redninja2" target="_top">GitHub Account</a></p>
{% endblock %}
{% block endbody %}
{{ block.super }}
<style>
    #resume {
        font-family: "Times New Roman";
        color: black;
    }
    #resume h1, #resume h2 {
        font-weight: bold;
    }
    #resume p {
        font-size: 12pt;
        margin: 0px;
    }
    #resume ul {
        margin-top: 5px;
    }
</style>
{% endblock %}