<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Success!</title>

    {% load static %}
    <!-- Load site-wide CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'temperature/style/standard.css' %}">

    <link rel='icon' type='image/ico' href="{% static 'temperature/favicon.ico' %}">
	</head>

	<body>
		<header>
			{% include 'temperature/header.html' %}
		</header>

		<div id="wrapper">

			<section id="left">
			</section>

			<section id="main">
			</section>

			<aside id="right">
			</aside>

		</div>

		<footer>
			{% include 'temperature/footer.html' %}
		</footer>

	</body>
</html>
