{% extends 'layout.html'  %}

{% block title %}Nathan Ahrens{% endblock %}

{% block main_content %}
      <h1>Nathan Ahrens</h1>
      <p>Major: Computer Science</p><br>
        <p>Minor: Information System</p>
        <h2>Bio:</h2>
        <p>
          I began my studies at Ashland University the fall semester of 2015.	Since then, I have
          secured a position at the Ashland University Tech Support Center as a Tech Support Assistant (TSA).
          Amongst my abilities are:
          <ul>
            <li>Programming</li>
            <ul>
              <li>Java</li>
              <li>HTML5/CSS/PHP</li>
              <li>Python</li>
            </ul>
            
            <li>Googling</li>
            <li>Trouble Shooting</li>
            <li>Debugging</li>
          </ul>
          <p><a class="project" href="https://github.com/redninja2" target="_top">GitHub Account</a></p>
        </p>
{% endblock %}
