/*
Nathan Ahrens
file: /css/desktop.css
This CSS file is specific to the /index.html file.
The site wide CSS file is /css/standard.css
*/

p{
	margin: 5px;
}

a#projects{
	margin: 0px;
	font-size: 30px;
	color: black;
	text-decoration: none;
	font-family: arial;

}

div.projects {

	width: 95%;
	height: auto;
	min-height: 130px;
	padding: 0px 0px 0px 0px;
}

a.project:link, a.project:visited, a.project:hover, a.project:active {
	text-decoration: none;
	color: black;
	font-family: Arial;
	font-size: 18px;
	margin: 15px 0px 15px 10px;
	padding: 5px 0px 5px 0px;
}

h1 a{
	color: black;
	text-decoration: none;
}
